r-var {
  display: block;
  color: #D46485;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  background-color: #EFEFEF;
  width: fit-content;
  padding: 5px;
  margin: 5px 0;
}
r-dynamic {
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px dashed var(--mdc-theme-secondary, #46F);
}
r-action {
  cursor: pointer;
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px solid var(--mdc-theme-secondary, #46F);
}
r-action.noclick {
  cursor: unset;
  border-bottom: unset;
}
.cursor-move{
  cursor: move;
}
.cursor-col-resize{
  cursor: col-resize;
}
