ink-var {
  display: block;
  color: #D46485;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  background-color: #EFEFEF;
  width: fit-content;
  padding: 5px;
  margin: 5px 0;
}
/* This is for ink-dynamic when dragging */
body.ink-drag-horz{
  cursor: col-resize;
}
ink-dynamic {
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px dashed var(--mdc-theme-secondary, #46F);
}
ink-action {
  cursor: pointer;
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px solid var(--mdc-theme-secondary, #46F);
}
